* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.bai1 .inner-wrap {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}


.bai1 .inner-wrap .inner-header img {
    border-radius: 10px;
    width: 100%;
    height: 400px;
}

.modal-footer button {
    width: 48%;
}

p {
    color: red;
}

.inner-error {
    background-color: rgb(215, 120, 120);
    border: 1px solid red;
}

.inner-success {
    background-color: rgb(136, 219, 136);
    border: 1px solid green;
}